In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import sweetviz as sv
import dtale

import config

#最大表示列数の指定（ここでは50列を指定）
pd.set_option('display.max_columns', 50)

In [8]:
df_patient=pd.read_table(config.RAW_BRCA_METABRIC_DIR+'/data_clinical_patient.txt',header=4)
df_patient.head()

,PATIENT_ID,LYMPH_NODES_EXAMINED_POSITIVE,NPI,CELLULARITY,CHEMOTHERAPY,COHORT,ER_IHC,HER2_SNP6,HORMONE_THERAPY,INFERRED_MENOPAUSAL_STATE,SEX,INTCLUST,AGE_AT_DIAGNOSIS,OS_MONTHS,OS_STATUS,CLAUDIN_SUBTYPE,THREEGENE,VITAL_STATUS,LATERALITY,RADIO_THERAPY,HISTOLOGICAL_SUBTYPE,BREAST_SURGERY,RFS_STATUS,RFS_MONTHS
0,MB-0000,10.0,6.044,NaN,NO,1.0,Positve,NEUTRAL,YES,Post,Female,4ER+,75.65,140.500000,0:LIVING,claudin-low,ER-/HER2-,Living,Right,YES,Ductal/NST,MASTECTOMY,0:Not Recurred,138.65
1,MB-0002,0.0,4.020,High,NO,1.0,Positve,NEUTRAL,YES,Pre,Female,4ER+,43.19,84.633333,0:LIVING,LumA,ER+/HER2- High Prolif,Living,Right,YES,Ductal/NST,BREAST CONSERVING,0:Not Recurred,83.52
2,MB-0005,1.0,4.030,High,YES,1.0,Positve,NEUTRAL,YES,Pre,Female,3,48.87,163.700000,1:DECEASED,LumB,NaN,Died of Disease,Right,NO,Ductal/NST,MASTECTOMY,1:Recurred,151.28
3,MB-0006,3.0,4.050,Moderate,YES,1.0,Positve,NEUTRAL,YES,Pre,Female,9,47.68,164.933333,0:LIVING,LumB,NaN,Living,Right,YES,Mixed,MASTECTOMY,0:Not Recurred,162.76
4,MB-0008,8.0,6.080,High,YES,1.0,Positve,NEUTRAL,YES,Post,Female,9,76.97,41.366667,1:DECEASED,LumB,ER+/HER2- High Prolif,Died of Disease,Right,YES,Mixed,MASTECTOMY,1:Recurred,18.55

In [6]:
df_patient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2509 entries, 0 to 2508
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   PATIENT_ID                     2509 non-null   object
 1   LYMPH_NODES_EXAMINED_POSITIVE  2243 non-null   float64
 2   NPI                            2287 non-null   float64
 3   CELLULARITY                    1917 non-null   object
 4   CHEMOTHERAPY                   1980 non-null   object
 5   COHORT                         2498 non-null   float64
 6   ER_IHC                         2426 non-null   object
 7   HER2_SNP6                      1980 non-null   object
 8   HORMONE_THERAPY                1980 non-null   object
 9   INFERRED_MENOPAUSAL_STATE      1980 non-null   object
 10  SEX                            2509 non-null   object
 11  INTCLUST                       1980 non-null   object
 12  AGE_AT_DIAGNOSIS               2498 non-null   float64
 13  OS_MONTHS                      1981 non-null   float64
 14  OS_STATUS                      1981 non-null   object
 15  CLAUDIN_SUBTYPE                1980 non-null   object
 16  THREEGENE                      1764 non-null   object
 17  VITAL_STATUS                   1980 non-null   object
 18  LATERALITY                     1870 non-null   object
 19  RADIO_THERAPY                  1980 non-null   object
 20  HISTOLOGICAL_SUBTYPE           2374 non-null   object
 21  BREAST_SURGERY                 1955 non-null   object
 22  RFS_STATUS                     2488 non-null   object
 23  RFS_MONTHS                     2388 non-null   float64
dtypes: float64(6), object(18)
memory usage: 470.6+ KB

In [9]:
dtale.show(df_patient)

In [10]:
df_patient.shape

(2509, 24)

In [11]:
df_patient.describe()

,LYMPH_NODES_EXAMINED_POSITIVE,NPI,COHORT,AGE_AT_DIAGNOSIS,OS_MONTHS,RFS_MONTHS
count,2243.000000,2287.000000,2498.000000,2498.000000,1981.000000,2388.000000
mean,1.950513,4.028787,2.900320,60.420300,125.244271,108.842487
std,4.017774,1.189092,1.962216,13.032997,76.111772,76.519494
min,0.000000,1.000000,1.000000,21.930000,0.000000,0.000000
25%,0.000000,3.048000,1.000000,50.920000,60.866667,40.560000
50%,0.000000,4.044000,3.000000,61.110000,116.466667,99.095000
75%,2.000000,5.040000,4.000000,70.000000,185.133333,167.640000
max,45.000000,7.200000,9.000000,96.290000,355.200000,384.210000

In [12]:
df_patient.isnull().sum()

PATIENT_ID                         0
LYMPH_NODES_EXAMINED_POSITIVE    266
NPI                              222
CELLULARITY                      592
CHEMOTHERAPY                     529
COHORT                            11
ER_IHC                            83
HER2_SNP6                        529
HORMONE_THERAPY                  529
INFERRED_MENOPAUSAL_STATE        529
SEX                                0
INTCLUST                         529
AGE_AT_DIAGNOSIS                  11
OS_MONTHS                        528
OS_STATUS                        528
CLAUDIN_SUBTYPE                  529
THREEGENE                        745
VITAL_STATUS                     529
LATERALITY                       639
RADIO_THERAPY                    529
HISTOLOGICAL_SUBTYPE             135
BREAST_SURGERY                   554
RFS_STATUS                        21
RFS_MONTHS                       121
dtype: int64

In [13]:
df_patient_MB=df_patient[df_patient['PATIENT_ID'].str.contains('MB')]
df_patient_MTST=df_patient[df_patient['PATIENT_ID'].str.contains('MTS-T')]

In [14]:
df_patient_MB.describe()

,LYMPH_NODES_EXAMINED_POSITIVE,NPI,COHORT,AGE_AT_DIAGNOSIS,OS_MONTHS,RFS_MONTHS
count,1909.000000,1984.000000,1985.000000,1985.000000,1981.000000,1985.000000
mean,2.004715,4.013186,2.616121,61.100544,125.244271,110.117406
std,4.080490,1.163166,1.233252,12.948374,76.111772,76.297209
min,0.000000,1.000000,1.000000,21.930000,0.000000,0.000000
25%,0.000000,3.044000,1.000000,51.450000,60.866667,41.740000
50%,0.000000,4.042000,3.000000,61.840000,116.466667,100.720000
75%,2.000000,5.040000,3.000000,70.610000,185.133333,167.760000
max,45.000000,6.680000,5.000000,96.290000,355.200000,346.380000

In [15]:
df_patient_MTST.describe()

,LYMPH_NODES_EXAMINED_POSITIVE,NPI,COHORT,AGE_AT_DIAGNOSIS,OS_MONTHS,RFS_MONTHS
count,334.000000,303.000000,513.000000,513.000000,0.0,403.000000
mean,1.640719,4.130937,4.000000,57.788168,NaN,102.562804
std,3.628750,1.344243,3.370367,13.037440,NaN,77.394361
min,0.000000,1.140000,1.000000,27.000000,NaN,0.030000
25%,0.000000,3.280000,1.000000,47.550000,NaN,37.170000
50%,0.000000,4.320000,1.000000,58.000000,NaN,86.880000
75%,2.000000,5.000000,7.000000,67.000000,NaN,166.890000
max,30.000000,7.200000,9.000000,89.000000,NaN,384.210000

In [16]:
df_patient_MB.isnull().sum()

PATIENT_ID                         0
LYMPH_NODES_EXAMINED_POSITIVE     76
NPI                                1
CELLULARITY                       68
CHEMOTHERAPY                       5
COHORT                             0
ER_IHC                            43
HER2_SNP6                          5
HORMONE_THERAPY                    5
INFERRED_MENOPAUSAL_STATE          5
SEX                                0
INTCLUST                           5
AGE_AT_DIAGNOSIS                   0
OS_MONTHS                          4
OS_STATUS                          4
CLAUDIN_SUBTYPE                    5
THREEGENE                        221
VITAL_STATUS                       5
LATERALITY                       115
RADIO_THERAPY                      5
HISTOLOGICAL_SUBTYPE              46
BREAST_SURGERY                    30
RFS_STATUS                         1
RFS_MONTHS                         0
dtype: int64

In [18]:
df_patient_MB.nunique()

PATIENT_ID                       1985
LYMPH_NODES_EXAMINED_POSITIVE      31
NPI                               323
CELLULARITY                         3
CHEMOTHERAPY                        2
COHORT                              5
ER_IHC                              2
HER2_SNP6                           4
HORMONE_THERAPY                     2
INFERRED_MENOPAUSAL_STATE           2
SEX                                 1
INTCLUST                           11
AGE_AT_DIAGNOSIS                 1624
OS_MONTHS                        1743
OS_STATUS                           2
CLAUDIN_SUBTYPE                     7
THREEGENE                           4
VITAL_STATUS                        3
LATERALITY                          2
RADIO_THERAPY                       2
HISTOLOGICAL_SUBTYPE                8
BREAST_SURGERY                      2
RFS_STATUS                          2
RFS_MONTHS                       1716
dtype: int64

In [25]:
binary_columns=[
    'CHEMOTHERAPY',
    'ER_IHC',
    'HORMONE_THERAPY',
    'LATERALITY',
    'RADIO_THERAPY',
    'RFS_STATUS'
]

In [24]:
drop_columns=[
    'PATIENT_ID',
    'SEX'
]

dtale.show(df_patient_MB.drop(drop_columns, axis=1))