In [8]:
import os
import math
import numpy as np
import pandas as pd

# 描画ライブラリ
import matplotlib.pyplot as plt
import seaborn as sns

# config python file
import config
import functions

functions.fix_seed(config.SEED)

# 最大表示列数の指定（ここでは50列を指定）N
pd.set_option("display.max_columns", 50)
pd.set_option("display.max_rows", 50)

# %matplotlib inline

In [18]:
path_cna = config.EXTERNAL_DIR + "/cna"
path_mutation = config.EXTERNAL_DIR + "/mutation"
path_pathways = config.EXTERNAL_DIR + "/pathways"

example

In [20]:
print("cna")
display(pd.read_table(cna_pathways + "/" + os.listdir(path_cna)[1]))
display(pd.read_table(cna_pathways + "/" + os.listdir(path_cna)[1]).isnull().sum())
print("mutation")
display(pd.read_table(path_mutation + "/" + os.listdir(path_mutation)[1]))
display(
    pd.read_table(path_mutation + "/" + os.listdir(path_mutation)[1]).isnull().sum()
)
print("pathways")
display(pd.read_table(path_pathways + "/" + os.listdir(path_pathways)[1]))
display(
    pd.read_table(path_pathways + "/" + os.listdir(path_pathways)[1]).isnull().sum()
)

cna

         Gene  Gene panel      CNA  Cytoband  Cohort
0       MYOD1         NaN      AMP   11p15.1     NaN
1        GNAS         NaN      AMP  20q13.32     NaN
2       AURKA         NaN      AMP   20q13.2     NaN
3      ZNF217         NaN      AMP   20q13.2     NaN
4       FGF19         NaN      AMP   11q13.3     NaN
..        ...         ...      ...       ...     ...
387   FAM86JP         NaN      AMP    3q21.2     NaN
388      OTOG         NaN      AMP   11p15.1     NaN
389     OPHN1         NaN      AMP      Xq12     NaN
390   PXN-AS1         NaN  DeepDel  12q24.23     NaN
391  APOA1-AS         NaN  DeepDel   11q23.3     NaN

[392 rows x 5 columns]

Gene            0
Gene panel    392
CNA             0
Cytoband        0
Cohort        392
dtype: int64

mutation

,Gene,Gene panel,Protein Change,Annotation,Functional Impact,Chromosome,Start Pos,End Pos,Ref,Var,HGVSg,HGVSc,MS,VS,Mutation Type,Variant Type,Center,Allele Freq,Variant Reads,Ref Reads,Variant Reads (Normal),Ref Reads (Normal),Copy #,COSMIC,Exon,gnomAD,ClinVar,dbSNP,SIGNAL
0,PIK3CA,METABRIC_173,H1047R,OncoKB: NA;CIViC: NA;MyCancerGenome: present;C...,MutationAssessor: NA;SIFT: NA;Polyphen-2: NA,3,178952085,178952085,A,G,3:g.178952085A>G,NaN,NaN,NaN,Missense_Mutation,SNP,METABRIC,NaN,NaN,NaN,NaN,NaN,NaN,1983.0,NaN,NaN,NaN,NaN,NaN
1,NCOR1,METABRIC_173,L1463P,OncoKB: NA;CIViC: NA;MyCancerGenome: not prese...,MutationAssessor: NA;SIFT: NA;Polyphen-2: NA,17,15973604,15973604,A,G,17:g.15973604A>G,NaN,NaN,NaN,Missense_Mutation,SNP,METABRIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Gene                      0
Gene panel                0
Protein Change            0
Annotation                0
Functional Impact         0
Chromosome                0
Start Pos                 0
End Pos                   0
Ref                       0
Var                       0
HGVSg                     0
HGVSc                     2
MS                        2
VS                        2
Mutation Type             0
Variant Type              0
Center                    0
Allele Freq               2
Variant Reads             2
Ref Reads                 2
Variant Reads (Normal)    2
Ref Reads (Normal)        2
Copy #                    2
COSMIC                    1
Exon                      2
gnomAD                    2
ClinVar                   2
dbSNP                     2
SIGNAL                    2
dtype: int64

pathways

                                   Pathway name  Pathway altered Genes matched
0                     BLCA-2014-TP53-RB-pathway                2    TP53,CCND1
1           COADREAD-2012-WNT-signaling-pathway                2     LRP5,TCF7
2        HNSC-2015-Cell-cycle-signaling-pathway                2    TP53,CCND1
3                                           WNT                2     LRP5,TCF7
4                                    Cell Cycle                2    TP53,CCND1
..                                          ...              ...           ...
50                                         PI3K                0           NaN
51        GBM-2008-Cell-cycle-signaling-pathway                0           NaN
52  HNSC-2015-Oxidative-stress-response-pathway                0           NaN
53         COADREAD-2012-RTK-RAS-PI(3)K-pathway                0           NaN
54             UCEC-2013-RTK-RAS-PI(3)K-pathway                0           NaN

[55 rows x 3 columns]

Pathway name        0
Pathway altered     0
Genes matched      24
dtype: int64

In [22]:
for i in range(10):
    print("pathways")
    display(
        pd.read_table(path_pathways + "/" + os.listdir(path_pathways)[i]).isnull().sum()
    )

pathways

Pathway name        0
Pathway altered     0
Genes matched      55
dtype: int64

pathways

Pathway name        0
Pathway altered     0
Genes matched      24
dtype: int64

pathways

Pathway name        0
Pathway altered     0
Genes matched      29
dtype: int64

pathways

Pathway name        0
Pathway altered     0
Genes matched      36
dtype: int64

pathways

Pathway name        0
Pathway altered     0
Genes matched      33
dtype: int64

pathways

Pathway name        0
Pathway altered     0
Genes matched      21
dtype: int64

pathways

Pathway name        0
Pathway altered     0
Genes matched      40
dtype: int64

pathways

Pathway name        0
Pathway altered     0
Genes matched      51
dtype: int64

pathways

Pathway name        0
Pathway altered     0
Genes matched      23
dtype: int64

pathways

Pathway name        0
Pathway altered     0
Genes matched      31
dtype: int64