In [19]:
import os
import numpy as np
import pandas as pd

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

import config

# 最大表示列数の指定（ここでは50列を指定）
pd.set_option("display.max_columns", 50)
pd.set_option('display.max_rows', 50)


def make_dir(dir_name: str):
    if not os.path.exists(dir_name):
        os.makedirs(dir_name)

dfの読み込み

# 型のエンコーディング

### df｜df_MB_dtype_encoded  
順序尺度特徴量とboolean特徴量について、データを扱いやすい形に変換する。

In [20]:
df_MB_dtype_encoded=pd.read_pickle(config.INTERIM_PICKLE_PREPROCESSED_DIR+'/2.1-df_MB_dropped.pkl')
df_MB_dtype_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1124 entries, 1 to 1743
Data columns (total 36 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   PATIENT_ID                     1124 non-null   object
 1   LYMPH_NODES_EXAMINED_POSITIVE  1124 non-null   float64
 2   NPI                            1124 non-null   float64
 3   CELLULARITY                    1124 non-null   object
 4   CHEMOTHERAPY                   1124 non-null   object
 5   COHORT                         1124 non-null   float64
 6   ER_IHC                         1124 non-null   object
 7   HER2_SNP6                      1124 non-null   object
 8   HORMONE_THERAPY                1124 non-null   object
 9   INFERRED_MENOPAUSAL_STATE      1124 non-null   object
 10  SEX                            1124 non-null   object
 11  INTCLUST                       1124 non-null   object
 12  AGE_AT_DIAGNOSIS               1124 non-null   float64
 13  OS_MONTHS                      1124 non-null   float64
 14  OS_STATUS                      1124 non-null   object
 15  CLAUDIN_SUBTYPE                1124 non-null   object
 16  THREEGENE                      1124 non-null   object
 17  VITAL_STATUS                   1124 non-null   object
 18  LATERALITY                     1124 non-null   object
 19  RADIO_THERAPY                  1124 non-null   object
 20  HISTOLOGICAL_SUBTYPE           1124 non-null   object
 21  BREAST_SURGERY                 1124 non-null   object
 22  RFS_STATUS                     1124 non-null   object
 23  RFS_MONTHS                     1124 non-null   float64
 24  SAMPLE_ID                      1124 non-null   object
 25  CANCER_TYPE                    1124 non-null   object
 26  CANCER_TYPE_DETAILED           1124 non-null   object
 27  ER_STATUS                      1124 non-null   object
 28  HER2_STATUS                    1124 non-null   object
 29  GRADE                          1124 non-null   float64
 30  ONCOTREE_CODE                  1124 non-null   object
 31  PR_STATUS                      1124 non-null   object
 32  SAMPLE_TYPE                    1124 non-null   object
 33  TUMOR_SIZE                     1124 non-null   float64
 34  TUMOR_STAGE                    1124 non-null   float64
 35  TMB_NONSYNONYMOUS              1124 non-null   float64
dtypes: float64(10), object(26)
memory usage: 324.9+ KB

In [21]:
target_columns=[
    # patient
    'OS_MONTHS',
    'RFS_MONTHS',
    'OS_STATUS',
    'RFS_STATUS',
    'VITAL_STATUS',
]

int_columns=[
    # patient
    'LYMPH_NODES_EXAMINED_POSITIVE',
    
    'OS_MONTHS',
    'RFS_MONTHS',
]

float_columns=[
    # patient
    'NPI',
    'AGE_AT_DIAGNOSIS',
    # sample
    'TUMOR_SIZE',
    'TMB_NONSYNONYMOUS',
]

str_columns=[
]

# 質的変数（順序尺度）
qualitative_ordinal_columns=[
    # patient
    'CELLULARITY',  
    'ER_IHC',
    'HER2_SNP6',
    'INFERRED_MENOPAUSAL_STATE',
    # sample
    'ER_STATUS',
    'HER2_STATUS',
    'GRADE',
    'PR_STATUS',
    'TUMOR_STAGE',
]
# 質的変数（名義尺度）
qualitative_name_columns=[
    # patient
    'COHORT',
    'INTCLUST',
    'CLAUDIN_SUBTYPE',
    'THREEGENE',
    'HISTOLOGICAL_SUBTYPE',
    'BREAST_SURGERY',
    'LATERALITY',
    
    'VITAL_STATUS',
    # sample
    'CANCER_TYPE',
    'CANCER_TYPE_DETAILED',
    'ONCOTREE_CODE',

]

bool_columns=[
    # patient
    'CHEMOTHERAPY',
    'HORMONE_THERAPY',
    'RADIO_THERAPY',
  
    'OS_STATUS',
    'RFS_STATUS',
]

meanless_columns=[
    # patient
    'PATIENT_ID',
    'SEX',
    
    # sample
    #'PATIENT_ID',
    'SAMPLE_ID',
    'SAMPLE_TYPE',
]

print(df_MB_dtype_encoded.shape[1],
    len(int_columns)+\
    len(float_columns)+\
    len(ｓｔｒ_columns)+\
    len(qualitative_ordinal_columns)+\
    len(qualitative_name_columns)+\
    len(bool_columns)+\
    len(meanless_columns))
assert  df_MB_dtype_encoded.shape[1]==\
    len(int_columns)+\
    len(float_columns)+\
    len(ｓｔｒ_columns)+\
    len(qualitative_ordinal_columns)+\
    len(qualitative_name_columns)+\
    len(bool_columns)+\
    len(meanless_columns), 'lack or too much columns'

36 36

## 質的変数（順序尺度）のエンコーディング

qualitative_ordinal_columnsは、順序のあるstrの変数で構成されている。  
そこで大小関係に対応するようstrをintに変換する。

In [22]:
df_MB_dtype_encoded[qualitative_ordinal_columns].head()

,CELLULARITY,ER_IHC,HER2_SNP6,INFERRED_MENOPAUSAL_STATE,ER_STATUS,HER2_STATUS,GRADE,PR_STATUS,TUMOR_STAGE
1,High,Positve,NEUTRAL,Pre,Positive,Negative,3.0,Positive,1.0
4,High,Positve,NEUTRAL,Post,Positive,Negative,3.0,Positive,2.0
5,Moderate,Positve,NEUTRAL,Post,Positive,Negative,3.0,Positive,4.0
10,Moderate,Positve,GAIN,Post,Positive,Negative,3.0,Negative,2.0
11,High,Negative,LOSS,Post,Positive,Negative,2.0,Negative,2.0

In [23]:
for column in qualitative_ordinal_columns:
    print(column)
    display(df_MB_dtype_encoded[column].value_counts())
    print('-----'*10)

CELLULARITY

High        564
Moderate    428
Low         132
Name: CELLULARITY, dtype: int64

--------------------------------------------------
ER_IHC

Positve     875
Negative    249
Name: ER_IHC, dtype: int64

--------------------------------------------------
HER2_SNP6

NEUTRAL    813
GAIN       251
LOSS        58
UNDEF        2
Name: HER2_SNP6, dtype: int64

--------------------------------------------------
INFERRED_MENOPAUSAL_STATE

Post    866
Pre     258
Name: INFERRED_MENOPAUSAL_STATE, dtype: int64

--------------------------------------------------
ER_STATUS

Positive    870
Negative    254
Name: ER_STATUS, dtype: int64

--------------------------------------------------
HER2_STATUS

Negative    984
Positive    140
Name: HER2_STATUS, dtype: int64

--------------------------------------------------
GRADE

3.0    587
2.0    448
1.0     89
Name: GRADE, dtype: int64

--------------------------------------------------
PR_STATUS

Positive    584
Negative    540
Name: PR_STATUS, dtype: int64

--------------------------------------------------
TUMOR_STAGE

2.0    640
1.0    381
3.0     95
4.0      8
Name: TUMOR_STAGE, dtype: int64

--------------------------------------------------

In [24]:
df_MB_dtype_encoded['CELLULARITY'].replace({'High':3,'Moderate':2,'Low':1}, inplace=True)
df_MB_dtype_encoded['ER_IHC'].replace({'Positve':1, 'Negative':-1}, inplace=True)
df_MB_dtype_encoded['HER2_SNP6'].replace({'GAIN':3, 'NEUTRAL':2, 'LOSS':1, 'UNDEF':0}, inplace=True)
df_MB_dtype_encoded['INFERRED_MENOPAUSAL_STATE'].replace({'Post':1, 'Pre':-1}, inplace=True)
df_MB_dtype_encoded['ER_STATUS'].replace({'Positive':1, 'Negative':-1}, inplace=True)
df_MB_dtype_encoded['HER2_STATUS'].replace({'Positive':1, 'Negative':-1}, inplace=True)
#df_MB_dtype_encoded['GRADEGRADE']
df_MB_dtype_encoded['PR_STATUS'].replace({'Positive':1, 'Negative':-1}, inplace=True)
#df_MB_dtype_encoded['TUMOR_STAGE']

for column in qualitative_ordinal_columns:
    print(column)
    display(df_MB_dtype_encoded[column].value_counts())
    print('-----'*10)

CELLULARITY

3    564
2    428
1    132
Name: CELLULARITY, dtype: int64

--------------------------------------------------
ER_IHC

 1    875
-1    249
Name: ER_IHC, dtype: int64

--------------------------------------------------
HER2_SNP6

2    813
3    251
1     58
0      2
Name: HER2_SNP6, dtype: int64

--------------------------------------------------
INFERRED_MENOPAUSAL_STATE

 1    866
-1    258
Name: INFERRED_MENOPAUSAL_STATE, dtype: int64

--------------------------------------------------
ER_STATUS

 1    870
-1    254
Name: ER_STATUS, dtype: int64

--------------------------------------------------
HER2_STATUS

-1    984
 1    140
Name: HER2_STATUS, dtype: int64

--------------------------------------------------
GRADE

3.0    587
2.0    448
1.0     89
Name: GRADE, dtype: int64

--------------------------------------------------
PR_STATUS

 1    584
-1    540
Name: PR_STATUS, dtype: int64

--------------------------------------------------
TUMOR_STAGE

2.0    640
1.0    381
3.0     95
4.0      8
Name: TUMOR_STAGE, dtype: int64

--------------------------------------------------

## boolのエンコーディング

bool_columnsは対象的な2項目から構成されているため、これらの項目をboolean型にする。  
Yes、Noのみを対象とする（2項目のみから構成される特徴量でも、Yes、No以外の場合は3項目を考慮してカテゴリ特徴量として考える）。

In [25]:
df_MB_dtype_encoded[bool_columns].astype(bool).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1124 entries, 1 to 1743
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CHEMOTHERAPY     1124 non-null   bool
 1   HORMONE_THERAPY  1124 non-null   bool
 2   RADIO_THERAPY    1124 non-null   bool
 3   OS_STATUS        1124 non-null   bool
 4   RFS_STATUS       1124 non-null   bool
dtypes: bool(5)
memory usage: 14.3 KB

In [26]:
for column in bool_columns:
    print(column)
    display(df_MB_dtype_encoded[column].value_counts())
    print('-----'*10)

CHEMOTHERAPY

NO     873
YES    251
Name: CHEMOTHERAPY, dtype: int64

--------------------------------------------------
HORMONE_THERAPY

YES    697
NO     427
Name: HORMONE_THERAPY, dtype: int64

--------------------------------------------------
RADIO_THERAPY

YES    748
NO     376
Name: RADIO_THERAPY, dtype: int64

--------------------------------------------------
OS_STATUS

1:DECEASED    620
0:LIVING      504
Name: OS_STATUS, dtype: int64

--------------------------------------------------
RFS_STATUS

0:Not Recurred    659
1:Recurred        465
Name: RFS_STATUS, dtype: int64

--------------------------------------------------

In [27]:
df_MB_dtype_encoded['CHEMOTHERAPY'].replace({'YES':True,'NO':False}, inplace=True)
df_MB_dtype_encoded['HORMONE_THERAPY'].replace({'YES':True,'NO':False}, inplace=True)
df_MB_dtype_encoded['RADIO_THERAPY'].replace({'YES':True,'NO':False}, inplace=True)
df_MB_dtype_encoded['OS_STATUS'].replace({'1:DECEASED':True,'0:LIVING':False}, inplace=True)
df_MB_dtype_encoded['RFS_STATUS'].replace({'1:Recurred':True,'0:Not Recurred':False}, inplace=True)

for column in bool_columns:
    print(column)
    display(df_MB_dtype_encoded[column].value_counts())
    print('-----'*10)

CHEMOTHERAPY

False    873
True     251
Name: CHEMOTHERAPY, dtype: int64

--------------------------------------------------
HORMONE_THERAPY

True     697
False    427
Name: HORMONE_THERAPY, dtype: int64

--------------------------------------------------
RADIO_THERAPY

True     748
False    376
Name: RADIO_THERAPY, dtype: int64

--------------------------------------------------
OS_STATUS

True     620
False    504
Name: OS_STATUS, dtype: int64

--------------------------------------------------
RFS_STATUS

False    659
True     465
Name: RFS_STATUS, dtype: int64

--------------------------------------------------

In [28]:
df_MB_dtype_encoded[bool_columns].dtypes

CHEMOTHERAPY       bool
HORMONE_THERAPY    bool
RADIO_THERAPY      bool
OS_STATUS          bool
RFS_STATUS         bool
dtype: object

In [29]:
# save
make_dir(config.INTERIM_PICKLE_PREPROCESSED_DIR)
df_MB_dtype_encoded.to_pickle(config.INTERIM_PICKLE_PREPROCESSED_DIR+'/2.2-df_MB_dtype_encoded.pkl')

# Onehot encoding

## df｜df_MB_onehot_encoded(onehot encodingしたdf), df_MB_onehot_concated(onehot encodingしたdfと元のdfの結合)   
上記で作成した一部特徴量を修正したdfを元に、onehot encodingを行う。  
onehot encoding自体は名義尺度の質的変数カラムであるqualitative_name_columnsのみに対してのみ実施するが、最終的に特徴量の型の修正はモデルへ入力する際に必要になるので、df_MB_dtype_encodedを元にonehot encodingを実施する。

In [30]:
import os
import numpy as np
import pandas as pd

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

import config

# 最大表示列数の指定（ここでは50列を指定）
pd.set_option("display.max_columns", 50)
pd.set_option('display.max_rows', 50)


def make_dir(dir_name: str):
    if not os.path.exists(dir_name):
        os.makedirs(dir_name)

In [31]:
df_MB_dtype_encoded=pd.read_pickle(config.INTERIM_PICKLE_PREPROCESSED_DIR+'/2.2-df_MB_dtype_encoded.pkl')
df_MB_dtype_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1124 entries, 1 to 1743
Data columns (total 36 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   PATIENT_ID                     1124 non-null   object
 1   LYMPH_NODES_EXAMINED_POSITIVE  1124 non-null   float64
 2   NPI                            1124 non-null   float64
 3   CELLULARITY                    1124 non-null   int64
 4   CHEMOTHERAPY                   1124 non-null   bool
 5   COHORT                         1124 non-null   float64
 6   ER_IHC                         1124 non-null   int64
 7   HER2_SNP6                      1124 non-null   int64
 8   HORMONE_THERAPY                1124 non-null   bool
 9   INFERRED_MENOPAUSAL_STATE      1124 non-null   int64
 10  SEX                            1124 non-null   object
 11  INTCLUST                       1124 non-null   object
 12  AGE_AT_DIAGNOSIS               1124 non-null   float64
 13  OS_MONTHS                      1124 non-null   float64
 14  OS_STATUS                      1124 non-null   bool
 15  CLAUDIN_SUBTYPE                1124 non-null   object
 16  THREEGENE                      1124 non-null   object
 17  VITAL_STATUS                   1124 non-null   object
 18  LATERALITY                     1124 non-null   object
 19  RADIO_THERAPY                  1124 non-null   bool
 20  HISTOLOGICAL_SUBTYPE           1124 non-null   object
 21  BREAST_SURGERY                 1124 non-null   object
 22  RFS_STATUS                     1124 non-null   bool
 23  RFS_MONTHS                     1124 non-null   float64
 24  SAMPLE_ID                      1124 non-null   object
 25  CANCER_TYPE                    1124 non-null   object
 26  CANCER_TYPE_DETAILED           1124 non-null   object
 27  ER_STATUS                      1124 non-null   int64
 28  HER2_STATUS                    1124 non-null   int64
 29  GRADE                          1124 non-null   float64
 30  ONCOTREE_CODE                  1124 non-null   object
 31  PR_STATUS                      1124 non-null   int64
 32  SAMPLE_TYPE                    1124 non-null   object
 33  TUMOR_SIZE                     1124 non-null   float64
 34  TUMOR_STAGE                    1124 non-null   float64
 35  TMB_NONSYNONYMOUS              1124 non-null   float64
dtypes: bool(5), float64(10), int64(7), object(14)
memory usage: 286.5+ KB

In [32]:
# VITAL_STATUSは目的変数の生成に必要&リークになりうるので、onehot encodingからは除外する
qualitative_name_columns.remove('VITAL_STATUS') if 'VITAL_STATUS' in  qualitative_name_columns else qualitative_name_columns
qualitative_name_columns

['COHORT',
 'INTCLUST',
 'CLAUDIN_SUBTYPE',
 'THREEGENE',
 'HISTOLOGICAL_SUBTYPE',
 'BREAST_SURGERY',
 'LATERALITY',
 'CANCER_TYPE',
 'CANCER_TYPE_DETAILED',
 'ONCOTREE_CODE']

In [33]:
# 多重共線性回避のために、drop='first'
onehot_encoder=OneHotEncoder(drop='first')
onehot_encoding_columns=qualitative_name_columns
onehot_encoder.fit(df_MB_dtype_encoded[onehot_encoding_columns])
display(onehot_encoder.categories_)
display(onehot_encoder.get_feature_names_out(onehot_encoding_columns))
#enc.transform(df_MB_onehot_encoded[encoding_columns]).toarray()
df_MB_onehot_encoded=pd.DataFrame(onehot_encoder.transform(df_MB_dtype_encoded[onehot_encoding_columns]).toarray(), 
             columns=onehot_encoder.get_feature_names_out(onehot_encoding_columns))
df_MB_onehot_encoded.shape

[array([1., 2., 3., 5.]),
 array(['1', '10', '2', '3', '4ER+', '4ER-', '5', '6', '7', '8', '9'],
       dtype=object),
 array(['Basal', 'Her2', 'LumA', 'LumB', 'NC', 'Normal', 'claudin-low'],
       dtype=object),
 array(['ER+/HER2- High Prolif', 'ER+/HER2- Low Prolif', 'ER-/HER2-',
        'HER2+'], dtype=object),
 array(['Ductal/NST', 'Lobular', 'Medullary', 'Mixed', 'Mucinous', 'Other',
        'Tubular/ cribriform'], dtype=object),
 array(['BREAST CONSERVING', 'MASTECTOMY'], dtype=object),
 array(['Left', 'Right'], dtype=object),
 array(['Breast Cancer'], dtype=object),
 array(['Breast', 'Breast Invasive Ductal Carcinoma',
        'Breast Invasive Lobular Carcinoma',
        'Breast Invasive Mixed Mucinous Carcinoma',
        'Breast Mixed Ductal and Lobular Carcinoma'], dtype=object),
 array(['BREAST', 'IDC', 'ILC', 'IMMC', 'MDLC'], dtype=object)]

array(['COHORT_2.0', 'COHORT_3.0', 'COHORT_5.0', 'INTCLUST_10',
       'INTCLUST_2', 'INTCLUST_3', 'INTCLUST_4ER+', 'INTCLUST_4ER-',
       'INTCLUST_5', 'INTCLUST_6', 'INTCLUST_7', 'INTCLUST_8',
       'INTCLUST_9', 'CLAUDIN_SUBTYPE_Her2', 'CLAUDIN_SUBTYPE_LumA',
       'CLAUDIN_SUBTYPE_LumB', 'CLAUDIN_SUBTYPE_NC',
       'CLAUDIN_SUBTYPE_Normal', 'CLAUDIN_SUBTYPE_claudin-low',
       'THREEGENE_ER+/HER2- Low Prolif', 'THREEGENE_ER-/HER2-',
       'THREEGENE_HER2+', 'HISTOLOGICAL_SUBTYPE_Lobular',
       'HISTOLOGICAL_SUBTYPE_Medullary', 'HISTOLOGICAL_SUBTYPE_Mixed',
       'HISTOLOGICAL_SUBTYPE_Mucinous', 'HISTOLOGICAL_SUBTYPE_Other',
       'HISTOLOGICAL_SUBTYPE_Tubular/ cribriform',
       'BREAST_SURGERY_MASTECTOMY', 'LATERALITY_Right',
       'CANCER_TYPE_DETAILED_Breast Invasive Ductal Carcinoma',
       'CANCER_TYPE_DETAILED_Breast Invasive Lobular Carcinoma',
       'CANCER_TYPE_DETAILED_Breast Invasive Mixed Mucinous Carcinoma',
       'CANCER_TYPE_DETAILED_Breast Mixed Ductal and Lobular Carcinoma',
       'ONCOTREE_CODE_IDC', 'ONCOTREE_CODE_ILC', 'ONCOTREE_CODE_IMMC',
       'ONCOTREE_CODE_MDLC'], dtype=object)

(1124, 38)

## 元のdfとonehotしたdfの結合
dfの形などを調査

2つのdfのshapeを確認

In [34]:
df_MB_dtype_encoded.shape,df_MB_onehot_encoded.shape

((1124, 36), (1124, 38))

単に結合しただけでは形が異なる

In [35]:
pd.concat([df_MB_dtype_encoded,df_MB_onehot_encoded], axis=1).shape

(1481, 74)

concatがうまく行かない理由はindexの順番。  
元のdfのnullをdropしたため。

なのでindexをresetしてからconcatする

In [36]:
# reset_indexが機能するかの確認
df_MB_dtype_encoded.reset_index().index

RangeIndex(start=0, stop=1124, step=1)

In [37]:
# onehotで生成した元のカラムの削除
df_MB_onehot_concated=pd.concat([df_MB_dtype_encoded.reset_index(drop=True),
                                 df_MB_onehot_encoded.reset_index(drop=True)], axis=1
                               ).drop(onehot_encoding_columns, axis=1)
df_MB_onehot_concated.shape

(1124, 64)

In [38]:
df_MB_onehot_concated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1124 entries, 0 to 1123
Data columns (total 64 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   PATIENT_ID                                                      1124 non-null   object
 1   LYMPH_NODES_EXAMINED_POSITIVE                                   1124 non-null   float64
 2   NPI                                                             1124 non-null   float64
 3   CELLULARITY                                                     1124 non-null   int64
 4   CHEMOTHERAPY                                                    1124 non-null   bool
 5   ER_IHC                                                          1124 non-null   int64
 6   HER2_SNP6                                                       1124 non-null   int64
 7   HORMONE_THERAPY                                                 1124 non-null   bool
 8   INFERRED_MENOPAUSAL_STATE                                       1124 non-null   int64
 9   SEX                                                             1124 non-null   object
 10  AGE_AT_DIAGNOSIS                                                1124 non-null   float64
 11  OS_MONTHS                                                       1124 non-null   float64
 12  OS_STATUS                                                       1124 non-null   bool
 13  VITAL_STATUS                                                    1124 non-null   object
 14  RADIO_THERAPY                                                   1124 non-null   bool
 15  RFS_STATUS                                                      1124 non-null   bool
 16  RFS_MONTHS                                                      1124 non-null   float64
 17  SAMPLE_ID                                                       1124 non-null   object
 18  ER_STATUS                                                       1124 non-null   int64
 19  HER2_STATUS                                                     1124 non-null   int64
 20  GRADE                                                           1124 non-null   float64
 21  PR_STATUS                                                       1124 non-null   int64
 22  SAMPLE_TYPE                                                     1124 non-null   object
 23  TUMOR_SIZE                                                      1124 non-null   float64
 24  TUMOR_STAGE                                                     1124 non-null   float64
 25  TMB_NONSYNONYMOUS                                               1124 non-null   float64
 26  COHORT_2.0                                                      1124 non-null   float64
 27  COHORT_3.0                                                      1124 non-null   float64
 28  COHORT_5.0                                                      1124 non-null   float64
 29  INTCLUST_10                                                     1124 non-null   float64
 30  INTCLUST_2                                                      1124 non-null   float64
 31  INTCLUST_3                                                      1124 non-null   float64
 32  INTCLUST_4ER+                                                   1124 non-null   float64
 33  INTCLUST_4ER-                                                   1124 non-null   float64
 34  INTCLUST_5                                                      1124 non-null   float64
 35  INTCLUST_6                                                      1124 non-null   float64
 36  INTCLUST_7                                                      1124 non-null   float64
 37  INTCLUST_8                                                      1124 non-null   float64
 38  INTCLUST_9                                                      1124 non-null   float64
 39  CLAUDIN_SUBTYPE_Her2                                            1124 non-null   float64
 40  CLAUDIN_SUBTYPE_LumA                                            1124 non-null   float64
 41  CLAUDIN_SUBTYPE_LumB                                            1124 non-null   float64
 42  CLAUDIN_SUBTYPE_NC                                              1124 non-null   float64
 43  CLAUDIN_SUBTYPE_Normal                                          1124 non-null   float64
 44  CLAUDIN_SUBTYPE_claudin-low                                     1124 non-null   float64
 45  THREEGENE_ER+/HER2- Low Prolif                                  1124 non-null   float64
 46  THREEGENE_ER-/HER2-                                             1124 non-null   float64
 47  THREEGENE_HER2+                                                 1124 non-null   float64
 48  HISTOLOGICAL_SUBTYPE_Lobular                                    1124 non-null   float64
 49  HISTOLOGICAL_SUBTYPE_Medullary                                  1124 non-null   float64
 50  HISTOLOGICAL_SUBTYPE_Mixed                                      1124 non-null   float64
 51  HISTOLOGICAL_SUBTYPE_Mucinous                                   1124 non-null   float64
 52  HISTOLOGICAL_SUBTYPE_Other                                      1124 non-null   float64
 53  HISTOLOGICAL_SUBTYPE_Tubular/ cribriform                        1124 non-null   float64
 54  BREAST_SURGERY_MASTECTOMY                                       1124 non-null   float64
 55  LATERALITY_Right                                                1124 non-null   float64
 56  CANCER_TYPE_DETAILED_Breast Invasive Ductal Carcinoma           1124 non-null   float64
 57  CANCER_TYPE_DETAILED_Breast Invasive Lobular Carcinoma          1124 non-null   float64
 58  CANCER_TYPE_DETAILED_Breast Invasive Mixed Mucinous Carcinoma   1124 non-null   float64
 59  CANCER_TYPE_DETAILED_Breast Mixed Ductal and Lobular Carcinoma  1124 non-null   float64
 60  ONCOTREE_CODE_IDC                                               1124 non-null   float64
 61  ONCOTREE_CODE_ILC                                               1124 non-null   float64
 62  ONCOTREE_CODE_IMMC                                              1124 non-null   float64
 63  ONCOTREE_CODE_MDLC                                              1124 non-null   float64
dtypes: bool(5), float64(47), int64(7), object(5)
memory usage: 523.7+ KB

In [39]:
# save
make_dir(config.INTERIM_PICKLE_PREPROCESSED_DIR)
df_MB_onehot_concated.to_pickle(config.INTERIM_PICKLE_PREPROCESSED_DIR+'/2.2-df_MB_onehot_concated.pkl')